body{
    background-color: #628E90;
}
h1{
    color: aqua;
}
h2{
    color: aqua;
    text-align: center;

}
#heading{
    color: rgb(0, 30, 255);
    font-size: 200px;
}

br{
    border-style: none;
    border-style: dotted;
    border-color: white;
    border-width: 5px;
    width: 5%;

}

.d1{
    background-color: darkolivegreen;
    border-color: aquamarine;
    border: solid 10px;
    width: 200px;
    height: 150px;
    padding: 30px;
 
 

}


.d2{
    background-color: darkolivegreen;
    border: solid 10px;
    width: 200px;
    height: 150px;
    padding: 30px;
    margin-left: 500px;
    position: relative;
    bottom: 230px;

}
.d3{
background-color:cornflowerblue;
width: 330px;
margin-left: 300px;
border: dotted 5px;
}
.d4{
    background-color:sienna;
    width: 250px;
    margin: 20px;
   
   

}

b{
    color:brown;
    background-color: white;
    padding: 10px;
    margin-left: 200px;
    display: -webkit-inline-box;
}
p{
    display: flex;
    position: relative;
    border: solid 2px blue;
}